* {
	padding: 0;
	margin: 0;
  	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1600px;
  	padding: 0 15px;
  	margin: 0 auto;
  	overflow: hidden;
}

.row {
	width: 100%;
	display: inline-block;
	
}

.col-1 {width: 8.3%;}
.col-2 {width: 16.6%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3%;}
.col-5 {width: 41.6%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3%;}
.col-8 {width: 66.6%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3%;}
.col-11 {width: 91.6%;}
.col-12 {width: 100%;}

.col-offset-1 {width: 8.3%;}
.col-offset-2 {width: 16.6%;}
.col-offset-3 {width: 25%;}
.col-offset-4 {width: 33.3%;}
.col-offset-5 {width: 41.6%;}
.col-offset-6 {width: 50%;}
.col-offset-7 {width: 58.3%;}
.col-offset-8 {width: 66.6%;}
.col-offset-9 {width: 75%;}
.col-offset-10 {width: 83.3%;}
.col-offset-11 {width: 91.6%;}
.col-offset-12 {width: 100%;}

.header {
	position: relative;
}

.header-top {
	background-color: #1b1f21;
	padding-bottom: 6px;
	border-bottom: 1px solid #303334;

	position: fixed;
	width: 100%;
	z-index: 10;
}

.main-nav__list {
	float: left;
}

.main-nav__item {
	list-style: none;
	display: inline-block;
	margin-right: 21px;
}

.main-nav__item:last-child {
	margin-right: 0;
}

.main-nav__link {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	font-weight: 400;
}

.account {
	text-align: right;
	float: right;
}

.account-item {
	list-style: none;
	display: inline-block;
	margin-left: 25px;
	text-align: right;
	vertical-align: top;	
}

.account-item img {
	margin-top: 9px;
	margin-right: 4px;
	display: inline-block;
}

.account-item .login {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	font-weight: 400;
	vertical-align: top;
	
}

.account-item .signin {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	font-weight: 400;
}

.header-main {
	position: absolute;
	top: 104px;
	width: 100%;
}

.logo {
	display: inline-block;
}

.logo-txt {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-left: 27px;
	vertical-align: top;
	margin-top: 5px;
}

.header-search {
	position: relative;
	vertical-align: top;
	border-radius: 25px;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 9px 0;
	padding-left: 39px;
	padding-right: 70px;
	margin-left: 55px;
	margin-top: 5px;

	outline: none;

	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
    background-position: 14px;
    background-size: 6%;
}

.tel {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 80px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.btn {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
}

.btn--round {
	padding: 8px 17px;
	background-color: #579ac5;
	border-radius: 25px;
	margin-left: 25px;
	vertical-align: top;
	margin-top: 10px;
}

.promo {
	background-image: url(../img/promo-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

.promo-title {
	padding-top: 332px;
	font-size: 40px;
	line-height: 60px;
	font-weight: normal;
	margin-bottom: 20px;
}

.btn__catalog {
	padding: 14px 0;
	padding-right: 24px;
	border: 1px solid #414345;
	font-size: 18px;
	font-weight: 300
}

.btn__catalog img {
	margin-right: 15px;
    margin-left: 20px;
}

.promo-items-box {
	list-style: none;
	margin-top: 260px;
	display: flex;
	flex-direction: row;
}

.promo-item {
	display: flex;
	flex-direction: row;
	vertical-align: top;
	width: 25%;
	margin-right: 3%;
	padding-left: 5px;
}

.promo-item-img-box {
	width: 50px;
	height: 50px;
    margin-right: 15px;
}

.promo-item-title {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
}

.promo-item-txt {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}